* {
    box-sizing: border-box;
  }

  :root {
      --darkblue : #13293d;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    background: darkblue;
    color: #fff;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: darkblue;
  }

  .a {
      color:#fff;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }






  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
}
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
}