* {
    box-sizing: border-box;
  }

  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }

  .page-title { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    text-shadow: 2px 1px 4px #fff;
    background-color: rgb(23, 106, 214);
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    color: black;
    padding: 25px 25px;
    font-size: x-large;
    font-weight: 900;

    text-decoration: none;
    text-align: center;
  }

  .subtitle {
    border-top: 3px solid #fff;
    
    flex-wrap: wrap;
    text-align:right;
    justify-content: space-between;
    padding: 25px 46px 25px 25px;
    text-shadow: 1px 1px #fff;
    background-image: url(https://previews.123rf.com/images/oatautta/oatautta1706/oatautta170600136/81519390-blue-steel-plate-industrial-for-background-.jpg);
    background-color: rgb(23, 106, 214);
  }

  .bigbox {
    width: 100%;
    float: right;
   /*display: flex;*/
    
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    padding: 25px 25px 25px 120px;
  }

   
  .aboutMe {

    border-style: 1px;
    background-color: rgb(23, 106, 214);
  }

  

    

  .card {
    display: flex;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
    width: 30%;
    height: 30%;
    background-color:rgb(23, 106, 214);
    /* removed width: 100%; */
    opacity: .85;
  }
  
  .card:hover {
    opacity: 1;
  }
  
  
  .card img {
    text-align: center;
  }
  
  /*.card h2 {
    display: block;

  } */
  

  .join-follow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    position: fixed;
    left: 0;
    
    width: 55px;
    height: 275px;
  }

  footer ul{
    width: 10;
    border: 10px rgb(23, 106, 214);
    margin: 10px;
    
    font-size: 1px;
    
    
  }

  
  .email {
    display: block;
    font-style: initial;
  }

  
  /* footer work*/ 

  .footer {
    /* removed position: fixed;*/
    
    bottom:0;
    left:0;
    width:100%;
    height: 80px;
    text-shadow: 2px 1px 4px #fff;
    background-color: rgb(23, 106, 214);
  

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
/* unnecessary??? */
  .footer-text-left {
    font-size: 25px;
    padding-left: 40px;
    float: left;
    word-spacing: 20px;
  }

  .footer-content-right {
    padding-right: 40px;
    margin-top: 20px;
    float:right;
  }

  .icon-style {
    height:40px;
    margin-left: 20px;
    margin-top: 5px;
  }

  .icon-style:hover {
    background-color: rgb(65, 148, 243);
    padding: 5px;
  }

  a.menu:hover {
    background-color: rgb(65, 148, 243);
    font-size: 20px;
  }

  

/* footer work end */
  .join-foolow a {
    color: black;
    padding: 25px 25px;
    font-size: x-large;
    font-weight: 900;

    text-decoration: none;
    text-align: center;
  }


  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
}
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
}