* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../images/photo-1598103586054-c4b456cbddc4.jpeg");
    background-size: cover;
}

.navbar {
    height:12%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.shawn {
    font-size: 40px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}


.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(../images/maroonbells_jerry_blank_craterlake_colorado.jpeg);
}

.card2 {
    background-image: url(../images/password_entry_amid_binary_code_by_matejmo_gettyimages-808422590_cso_nw_2400x1600-100855218-large.jpeg);
}

.card3 {
    background-image: url(../images/The-Scheduler-for-Jira-1.png);
}

.card4 {
    background-image: url(../images/Working-with-adaptive-quizzes-A-beginners-guide.jpeg);
}

.card:hover {
    transform: translateY(-10px);
}

h4 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

#work {
    color:black;
    text-shadow: 0 0 5px #999;
}

.icon-style {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .icon-style:hover {
    /* background-color: rgb(65, 148, 243); */
    padding: 5px;
  }
  
  a.menu:hover {
    /* background-color: rgb(65, 148, 243); */
    font-size: 20px;
  }
  
  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }